.App {
  text-align: center;
}


.App-elemento1 {
  background-color: #010408f0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 300px;

}
.App-elemento2 {
  background-color: #c4e9eb;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: auto;
  margin-left: 300px;
  margin-top: -753px;
   
}
.App-cabecalho {
  width: auto;
  height: 60px;
  background: rgb(16, 54, 110);
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-cabecalho img {
  width: 40px;
  height: 40px;
}

.App-rodape {
  width: 300px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;

}